@import "tailwindcss";


@font-face {
  font-family: 'ZenFont';
  src: url('/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: 'bodyfont';
  src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 300 700;
  font-style: normal;
}

:root {  /* Deep dark background for calm minimal look */
  --foreground:#000000 ;   /* Slightly lighter for sections/cards */
  --primary: #E0E0E0;      /* Main text - soft white */
  --secondary: #B0B0B0;    /* Subtext or labels - gentle gray */
  --accent: #948f8f;       /* Peaceful muted green for highlights/buttons */
  --highlight: #CFC5B7;    /* Warm beige for selection/background accents */
  --hover: #6D8C64;        /* Softer green for hover states or subtle emphasis */
}


nav p{
  color: var(--primary);
}

body {
  color: var(--foreground);
  font-family: "bodyfont", sans-serif;
}

h1, h2, h3 {
  font-family: "ZenFont", serif;
  color: var(--primary);
}
/* Hide scrollbar but keep scroll functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


